# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Snake/v17/.suo
.vs/Snake/v17/Browse.VC.db
.vs/Snake/v17/ipch/AutoPCH/6891ff669c85b6b2/MAIN.ipch
Snake/x64/Debug/Snake.exe.recipe
Snake/x64/Debug/Snake.log
Snake/x64/Debug/Snake.ilk
Snake/x64/Debug/Snake.tlog/CL.command.1.tlog
Snake/x64/Debug/Snake.tlog/CL.read.1.tlog
Snake/x64/Debug/Snake.tlog/CL.write.1.tlog
Snake/x64/Debug/Snake.tlog/link.command.1.tlog
Snake/x64/Debug/Snake.tlog/link.read.1.tlog
Snake/x64/Debug/Snake.tlog/link.write.1.tlog
Snake/x64/Debug/Snake.tlog/Snake.lastbuildstate
Snake/x64/Debug/vc143.idb
Snake/x64/Debug/vc143.pdb
x64/Debug.rar
x64/Debug/Snake.pdb
Snake/Snake.vcxproj.user
Snake/Snake.vcxproj.filters
.vs/Snake/v17/Browse.VC.db-shm
.vs/Snake/v17/Browse.VC.db-wal
.vs/Snake/v17/Browse.VC.opendb
Pong/.vs/Pong/v17/.suo
Pong/.vs/Pong/v17/Browse.VC.db
Pong/.vs/Pong/v17/Browse.VC.db-shm
Pong/.vs/Pong/v17/Browse.VC.db-wal
Pong/.vs/Pong/v17/Browse.VC.opendb
Pong/.vs/Pong/v17/ipch/AutoPCH/9549bf96947d382e/MAIN.ipch
Pong/Pong/Pong.vcxproj.filters
Pong/Pong/Pong.vcxproj.user
Pong/Pong/x64/Debug/Pong.exe.recipe
Pong/Pong/x64/Debug/Pong.ilk
Pong/Pong/x64/Debug/Pong.log
Pong/Pong/x64/Debug/Pong.tlog/CL.command.1.tlog
Pong/Pong/x64/Debug/Pong.tlog/CL.read.1.tlog
Pong/Pong/x64/Debug/Pong.tlog/CL.write.1.tlog
Pong/Pong/x64/Debug/Pong.tlog/link.command.1.tlog
Pong/Pong/x64/Debug/Pong.tlog/link.read.1.tlog
Pong/Pong/x64/Debug/Pong.tlog/link.write.1.tlog
Pong/Pong/x64/Debug/Pong.tlog/Pong.lastbuildstate
Pong/Pong/x64/Debug/vc143.idb
Pong/Pong/x64/Debug/vc143.pdb
Pong/x64/Debug/Pong.pdb
